<%- include('partials/header') -%>
<h1 class="loginHead"><a href="/feed">T.7.Q.A.R</a></h1>

<section class='soloPost indexBox'>
  <!-- Post Title -->
  <h2><%= post.title %> </h2>
  <!-- Post Image -->
  <img class="img-fluid" src="<%= post.image%>">
  <!-- Post Caption -->
  <h3 class="caption marginB"><%= post.caption%></h3>
  <!-- Post Likes -->
  <h3 class="likes col-3 marginB">Likes: <%=post.likes%></h3>
  <!-- Post Likes Button -->
  <form class="col-1" action="/post/likePost/<%= post._id%>?_method=PUT" method="POST">
    <button class="marginB btn like-btn btn-primary fa fa-heart" type="submit"></button>
  </form>
</section>

<section class='editDeleteSec'>
  <!-- Post User Checker -->
  <% if(user.id == post.user) { %>
    <!-- Edit button --> 
      <form class="col-1" action="/post/editPost/<%= post._id%>?_method=GET" method="POST">
        <textarea class="form-control marginB captionEdit" id="caption" name="caption" required rows='8'></textarea>
        <button class="marginB btn btn-primary fa fa-edit" type="submit"></button>
      </form>
    <!-- Delete button -->
    <form class="col-1" action="/post/deletePost/<%= post._id%>?_method=DELETE" method="POST">
      <button class="marginB btn btn-primary fa fa-trash" type="submit"></button>
    </form>
  <% } %> 
</section> 




